<style type="text/css">
code{
  font-size: small;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}
pre{
  border: 1px solid #ddd;
  border-left: 3px solid #0d6efd;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
}
Blockquote{
  border-left: 3px solid #0d6efd;
  padding-left: 0.5em;
  margin-left:1em;
}
Blockquote p{
  margin: 0;
}
table{
  border:1px solid;
  border-collapse:collapse;
}
th{'+
  padding:5px;
  border:1px solid;
}
td{
  padding:5px;
  border:1px solid;
}
</style>
